<div class="grid grid-cols-1 content-center">
  <h1 class="text-center tracking-[1rem]">THROWDOWN</h1>
</div>

<div class="grid grid-cols-3">
  <div class="pane description col-span-2" id="description_pane">
    <%= render "description", game: @game, turn_description: @game_npc.turn_description %>
  </div>
  <div class="pane image" id="image_pane">
    <% if @picture && @picture.filename %>
      <%= image_tag(@picture.filename) %>
    <% end %>
  </div>
</div>

<div class="pane interaction" id="interaction_pane">
  <%= render "interaction", game: @game, preface: @turn_preface, turn_options: @turn_options %>
</div>

<div class="pane advisory clear-start" id="advisory_pane">
   <%= render 'shared/advisory' %>
</div>

<div class="pane base_options clear-start" id="base_options_pane">

</div>
