  <ul>
    <li class='inline mr-4'>
      <%= button_to "(D)one", @game, method: :get,
        form_class: 'inline-block', class: 'btn-primary' %> 
    </li>
    <li class='inline mr-4'>
      <%= button_to "(C)amp", game_game_items_path(@game),
        form_class: 'inline-block', class: 'btn-primary' %> 
    </li>
  </ul>