<p class="mb-5">
<%= preface %>
</p>
<div class="turn-object-options">
  <ol>
    <%= render "#{game.turn_object_class_name.pluralize}/turn_options", game: game, turn_options: turn_options, turn_object: game.turn_object %>
  </ol>
</div>
<div class="clear-both"></div>
