<ul class="float-start">
  <li class='inline mr-5'><strong>HP:</strong> <%= @game.player.health %></li>
  <li class='inline mr-5'><strong>Max HP:</strong> <%= @game.player.max_health %></li>
  <li class='inline mr-5'><strong>Gold:</strong> <%= @game.player.gold %></li>
  <li class='inline mr-5'><strong>Status:</strong> <%= @game.player.status %></li>
</ul>
