<ul>
  <li><strong>Creature Type:</strong> <%= shop_item.label %></li>
  <li><strong>Description:</strong> <%= shop_item.description %></li>
  <li><strong>Adoption fee:</strong> <%= shop_item.price %></li>
</ul>
